$color1: #645234;
$color2: #c49b59;
$color3: #312d26;
$color4: #e0cba8;
$color5: #745e3b;
$color6: #afa89b;
$color7: #46351b;
$color8: #d6b785;
$color9: #947b54;
$color10: #f0e6d3;
$color11: #ecbf77;
$arrow-color: darkcyan;
